<div class="login-wrapper">
  <div class="section-wrapper left">
    <div class="login-background"></div>
  </div>
  <div class="section-wrapper right">
    <div class="logo-wrapper">
      <img class="logo" src="../../../../assets/graphics/logo-1933884_1280.png" alt="Logo">
    </div>
    <div class="login">
      <div class="title">User Login</div>
      <form [formGroup]="loginFormGroup"
            (ngSubmit)="login()">
        <mat-form-field>
          <label>
            <input formControlName="email"
                   matInput
                   placeholder="Email"
                   email
                   required>
          </label>
          <mat-error *ngIf="isValid('email')||loginFailed">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input formControlName="password"
                   matInput
                   placeholder="Password"
                   type="password"
                   required>
          </label>
          <mat-error *ngIf="isValid('password')||loginFailed">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="loginFailed">
          {{errorMessage}}
        </mat-error>
        <div class="btn-wrapper">
          <button [disabled]="loginFormGroup.invalid"
                  mat-raised-button>
            LOGIN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
