.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fafafa;

  .section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &.left {
      box-shadow: 5px -1px 5px lightgrey;

      .login-background {
        background-image: url('../../../../assets/graphics/login/loginimage.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }

    &.right {
      .logo-wrapper {
        background-color: #fafafa;
        padding: 20px 30px;
        width: 15em;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        -webkit-box-shadow: 0 6px 5px 0 lightgray;
        -moz-box-shadow: 0 6px 5px 0 lightgray;
        box-shadow: 0 6px 5px 0 lightgray;

        .logo {
          width: 100%
        }
      }

      .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15em;
        height: 100%;
        margin: 0 100px;

        .title {
          text-align: center;
          font-size: 32px;
          font-weight: 300;
          color: #666;
          margin: 40px 0;
        }

        form {
          mat-form-field {
            display: flex;
            align-items: center;

            ::ng-deep .mat-form-field-wrapper {
              width: 100%;
            }
          }

          .btn-wrapper {
            display: flex;
            justify-content: flex-end;
            margin: 20px 10px 0 0;

            button {
              width: 10em;
            }
          }
        }
      }
    }
  }
}
