<div class="title">Neuen Benutzer anlegen</div>
<mat-divider></mat-divider>
<div class="form-container">
  <div class="login-group">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Benutzername" type="username">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Password" type="password">
    </mat-form-field>
  </div>
  <div class="personaldata-group">
    <mat-form-field>
      <input formControlName="firstname" matInput placeholder="Vorname" type="name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="lastname" matInput placeholder="Nachnahme" type="name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" type="email">
    </mat-form-field>
    <div class="btn-wrapper">
      <button mat-raised-button (click)="newuser()">
        BENUTZER ANLEGEN
      </button>
    </div>
  </div>
</div>
