@import './src/app/components/vars';

.title {
  font-size: 32px;
  font-weight: 300;
  color: #666;
  margin: 40px 7%;
}

.form-container {
  display: flex;
  padding: 7% 0;

  .login-group {
    display: flex;
    flex-flow: column;
    width: 30%;
    margin-left: 7%;
  }

  .personaldata-group {
    display: flex;
    flex-flow: column;
    width: 30%;
    margin-left: 7%;

    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
      margin: 20px 10px 0 0;

      button {
        width: auto;
      }
    }
  }
}