<mat-sidenav-container class="dashboard">
  <mat-sidenav class="sidenav" mode="side" position="start" opened>
    <img class="bistum" src="assets\graphics\bistum.jpg" alt="" />
    <button class="button" mat-raised-button>
      <img class="icon" src="assets\graphics\male-user-shadow.png" alt="" />
      <h3> Dashboard </h3>
    </button>
    <button class="button" mat-raised-button>
      <img class="icon" src="assets\graphics\form.png" alt="" />
      <h3> Aufgaben </h3>
    </button>
    <button class="button" mat-button [matMenuTriggerFor]="menu">
      <img class="icon" src="assets\graphics\multiple-users-silhouette.png" alt="" />
      <h3> Personal </h3>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="createUser()">Neuen App-Benutzer anlegen</button>
      <button mat-menu-item> Benutzer verwalten </button>
    </mat-menu>
    <button class="button" mat-raised-button>
      <img class="icon" src="assets\graphics\old-couple.png" alt="" />
      <h3> Patienten </h3>
    </button>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill class="sidenav-content">
      <div *ngIf="user == false" class="hello-screen">
          <div class="title"> {{showCurrentUser()}} </div>
          <div class="title">Heute ist  {{showCurrentDate()}} </div>
       </div>

    <div *ngIf="user == true">
      <app-register></app-register>
    </div>





  </mat-sidenav-content>
</mat-sidenav-container>