<mat-sidenav-container class="dashboard">
  <mat-sidenav class="sidenav" mode="side" position="start" opened>
    <img class="bistum" src="assets\graphics\bistum.jpg" alt=""/>

    <button class="button" mat-raised-button routerLink="/core">
      <i class="fas fa-user fa-2x"></i>
      Dashboard
    </button>

    <button class="button"
    mat-button 
    routerLink="todo" 
    routerLinkActive="active">
    <i class="fas fa-users fa-2x"></i>
    Aufgaben
  </button>

  <button class="button" 
    mat-button 
    routerLink="users" 
    routerLinkActive="active">
    <i class="fas fa-users fa-2x"></i>
    App-Benutzer
  </button>

  <button class="button" 
    mat-button 
    routerLink="carers" 
    routerLinkActive="active">
    <i class="fas fa-users fa-2x"></i>
    Pflegepersonal
  </button>


    <button class="button"
            mat-button
            routerLink="patients"
            routerLinkActive="active">
      <i class="fas fa-users fa-2x"></i>
      Patients
    </button>

    <div>
      <i routerLink="/login" class="fas fa-sign-out-alt fa-2x"></i>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
