<!-- <img src="assets\graphics\bistum.jpg" class="bistum-logo"> -->




  <mat-sidenav-container class="dashboard">
    <mat-sidenav class="sidenav" mode="side" position="start" opened>




          <button mat-raised-button>Dashboard</button>
          <button mat-raised-button>Aufgaben</button>
          <button mat-raised-button>Personal</button>
          <button mat-raised-button>Patienten</button>



    </mat-sidenav>

    <mat-sidenav-content>
      <h2>Main content</h2>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-drawer-container class="drawer">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->


