@import './src/app/components/vars';


.dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  .sidenav {
    align-content: center;
    background-color: $prime;
    width: 15%;
    box-shadow: 5px -1px 5px lightgray;

    .bistum {
      width: 100%;
      margin-bottom: 10%;
    }

    .button {
      background-color: $second;
      color: white;
      width: 100%;
      height: auto;
      align-self: center;
      margin-bottom: 20px;

      .icon {
        width: 20%;
        filter: invert(100%);
        padding-top: 5px;
      }

      h3 {
        margin: 0;
        padding: 5px 0 5px 0;
      }
    }
  }

  .sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
      display: flex;
      flex-flow: column;
    }


    .title {
      text-align: center;
      font-size: 32px;
      font-weight: 300;
      color: #666;
      margin: 40px 0;
    }
  }
}
