@import './src/app/components/vars';


.dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;

  .sidenav {
    display: flex;
    align-items: center;
    background-color: $prime;
    width: 200px;
    box-shadow: 5px -1px 5px lightgray;

    .bistum {
      width: 100%;
      margin-bottom: 10%;
    }

    .abmelden{
      background-color: rgb(255, 106, 106);
      color: white;
      width: 100%;
      height: auto;
      align-self: center;
      margin-top: 40px;

    }


    .button {
      background-color: $second;
      color: white;
      width: 100%;
      height: auto;
      align-self: center;
      margin-bottom: 20px;



      &.active {
        background-color: #6483CD !important;
      }

      h3 {
        margin: 0;
        padding: 5px 0 5px 0;
        font-size: 1.2em;
      }
    }
  }

  .sidenav-content {

    .hello-screen {
      display: flex;
      flex-flow: column;
      margin: 7% 7%;

      .title {
        font-size: 32px;
        font-weight: 300;
        color: #666;
        margin-bottom: 5%;
      }
    }


  }
}
