<div class="wrapper">
  <mat-card class="mat-elevation-z3">
    <mat-card-title>
      Patienten
    </mat-card-title>
    <mat-card-content>
      <!--            <div *ngFor="let patient of $patients | async">{{patient|json}}</div>-->
      <div class="options">
        <div class="search">
          <i class="fas fa-search fa-lg"></i>
          <mat-form-field>
            <input (keyup)="applyFilter($event.target['value'])"
                   matInput>
          </mat-form-field>
        </div>
        <button mat-mini-fab matTooltip="Neuen Patienten anlegen">
          <i (click)="createPatient()" class="fas fa-plus"></i>
        </button>
      </div>
      <table [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="bewohner_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.bewohner_id}} </td>
        </ng-container>
        <ng-container matColumnDef="nachname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.nachname}} </td>
        </ng-container>
        <ng-container matColumnDef="vorname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
          <td mat-cell *matCellDef="let element"> {{element.vorname}} </td>
        </ng-container>
        <ng-container matColumnDef="zimmernummer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Zimmernummer</th>
          <td mat-cell *matCellDef="let element"> {{element.zimmernummer}} </td>
        </ng-container>
        <ng-container matColumnDef="wohnbereich">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wohnbereich</th>
          <td mat-cell *matCellDef="let element"> {{element.wohnbereich}} </td>
        </ng-container>
        <ng-container matColumnDef="pflegegrad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pflegegrad</th>
          <td mat-cell *matCellDef="let element"> {{element.pflegegrad}} </td>
        </ng-container>
        <ng-container matColumnDef="geburtsdatum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Geburtstag</th>
          <td mat-cell *matCellDef="let element"> {{element.geburtsdatum }} </td>
        </ng-container>
        <ng-container matColumnDef="geschlecht">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Geschlecht</th>
          <td mat-cell *matCellDef="let element"> {{element.geschlecht}} </td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns;
            sticky: true"></tr>
        <tr mat-row
            *matRowDef="let row;
            columns: displayedColumns;"
            (click)="viewPatient(row)"
            (contextmenu)="openMenu(row, menuTrigger)"
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu"></tr>
      </table>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="view()">View Patient</button>
        <button mat-menu-item (click)="edit()">Edit Patient</button>
        <button mat-menu-item (click)="delete()">Delete Patient</button>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</div>


