<div class="wrapper">
  <mat-card>
    <mat-card-title>
      Neuen Mitarbeiter anlegen
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="createCarer"
            (ngSubmit)="submit()">
            <mat-form-field>
              <mat-label>Mitarbeiter ID</mat-label>
              <mat-select formControlName="id"
                          required>
                <mat-option *ngFor="let carer of carers" [value]="carer.id">
                  {{carer.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        <mat-form-field>
          <label>
            <input formControlName="firstName"
                   matInput
                   placeholder="Vorname"
                   type="name"
                   required>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input formControlName="lastName"
                   matInput
                   placeholder="Nachname"
                   type="name"
                   required>
          </label>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Personalnummer</mat-label>
          <mat-select formControlName="persnr"
                      required>
            <mat-option *ngFor="let carer of carers" [value]="carer.persnr">
              {{carer.persnr}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="tel"
                   matInput
                   placeholder="Telefon"
                   type="number"
                   required>
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="quali_id"
                   matInput
                   placeholder="Qualifikation ID"
                   type="number"
                   required>
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="wb_id"
                   matInput
                   placeholder="Wohnbereich ID"
                   type="name"
                   required>
          </label>
        </mat-form-field>
        
        <button mat-raised-button [disabled]="createCarer.invalid">
          Mitarbeiter anlegen
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
