
<div class="tools-container">
  <div class="dashboard-container">
    <img src="assets\graphics\male-user-shadow.png" class="dashboard-icon">
    <div class="font"> Dashboard </div>
  </div>
  <div class="personal-container">
    <img src="assets\graphics\multiple-users-silhouette.png" class="personal-icon">
    Personal
  </div>
  <div class="todo-container">
    <img src="assets\graphics\form.png" class="todo-icon">
    Aufgaben
  </div>

  <div class="patients-container">
    <img src="assets\graphics\old-couple.png" class="patients-icon">
    Patienten
  </div>

</div>
