@import './src/app/components/vars';

@mixin tools-style () {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $second;
  margin-bottom: 15%;
  padding: 10px 0;
  cursor: pointer;
}

@mixin icon () {
  width: 15%;
  filter: invert(100%);

}

@mixin font (){
  font-family: 'Calibri';
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.tools-container {
  height: auto;
  padding-top:50%;

  .dashboard-container {
    margin-top: none;
    @include tools-style ();
    @include font ();

    .dashboard-icon {
      width: 13%;
      filter: invert(100%);
    }
  }

  .personal-container {
    @include tools-style ();
    @include font ();

    .personal-icon {
      @include icon();
    }
  }

  .todo-container {
    @include tools-style ();
    @include font ();

    .todo-icon {
      @include icon();
    }
  }

  .patients-container {
    @include tools-style ();
    @include font ();

    .patients-icon {
      @include icon();
    }
  }
}
