<div class="wrapper">
  <mat-card>
    <mat-card-title>
      Neuen Patienten anlegen
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="createPatient"
            (ngSubmit)="submit()">
        <mat-form-field>
          <label>
            <input formControlName="vorname"
                   matInput
                   placeholder="Vorname"
                   type="name"
                   required>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input formControlName="nachname"
                   matInput
                   placeholder="Nachname"
                   type="name"
                   required>
          </label>
        </mat-form-field>
        <mat-radio-group formControlName="geschlecht"
                         aria-label="Geschlecht"
                         required>
          <mat-radio-button value="m">Männlich</mat-radio-button>
          <mat-radio-button value="w">Weiblich</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <label>
            <input [matDatepicker]="picker"
                   formControlName="geburtsdatum"
                   matInput
                   placeholder="Geburtsdatum"
                   required>
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Zimmernummer</mat-label>
          <mat-select formControlName="zimmernummer"
                      required>
            <mat-option *ngFor="let room of rooms" [value]="room.id">
              {{room.zimmernummer}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pflegegrad</mat-label>
          <mat-select formControlName="pflegeGrad"
                      required>
            <mat-option *ngFor="let grade of grades" [value]="grade.id">
              {{grade.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button [disabled]="createPatient.invalid">
          Patienten anlegen
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
